body {
 font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
#book {
 width: 400px;
 height: 400px;
 overflow: hidden;
 position: relative;
 margin: 20px auto;
}
#book div {
 width: 400px;
 height: 400px;
 position: absolute;
 top: 0;
 left: -400px;
 z-index: 1;
 opacity: 0;
 transition: all linear 500ms;
 -o-transition: all linear 500ms;
 -moz-transition: all linear 500ms;
 -webkit-transition: all linear 500ms;
}
#book div:target {
 left: 0;
 z-index: 9;
 opacity: 1;
}
#book div:first-child {
 left: 0;
}
#index {
 text-align: center;
}
#index a {
 text-decoration: none;
 background: #eeeeee;
 border: 1px solid #cccccc;
 padding: 4px 6px;
 color: #000000;
}
#index a:hover {
 background: #dddddd;
}
#book p:first-child:first-letter {
 font-size: 2.02em;
 float: left;
 margin-right: .1em;
}
#footer {
 font-style: italic;
 font-size: 1.5em;
}
blockquote:before {
 display: block;
 content: "\201C";
 font-size: 4em;
 margin-top: -.2em;
 margin-bottom: 5em;
 float: left;
 color: #7a7a7a;
}